<%- include("header") -%>
<div class="signform">
<div class="cont log">
    <div class="title">Log In </div>
    <br>
    <div class="content">
      <form action="/login" method="post">
        <div class="user-detail">
          <div class="input-box">
            <span class="details">Email</span>
            <input name="username" type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input name="password" type="password" placeholder="Enter your password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Log In">
        </div>
        <div >
          <a class="createacc" href="/signup"><b>Create Account</b></a>
        </div>
      </form>

        <a href="/auth/google">
      <div class="google-btn">
  <div class="google-icon-wrapper">
    <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
  </div>
  <p class="btn-text"><b>Sign in with google</b></p>
</div>
</a>

    </div>
  </div>
</div>
  <%- include("footer") -%>
