<%- include("header") -%>

<div class="signform">
<div class="cont log">
    <div class="title">Position of your Add </div>
    <div class="">
      <form action="#">
        <div class="user-detail">
          <div class="button pos">
            <a class="pos3" href="/addatcards1">
              Top Deals
            </a>
          </div>
          <div class="button pos">
            <a class="pos5" href="/addatcards2">
             Other Products
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include("footer") -%>
